<div class="container">
  <div class="row">
    <!-- Course information block start. -->
    <div class="col-sm-4 col-xs-12">
      <h2>物件導向設計<small>黃柏翔教授</small></h2>
      <p>商管學院 - 資訊管理學系</p>
      <div style="height:280px;" id="chart-canvas"></div>
      <h4>投票</h4>
      <div class="votes row">
        <div class="vote col-xs-6">
          <label>考試</label>
          <div class="vote-button-group text-center">
            <a href="#" class="vote-up-btn btn-block">
              <i class="fa fa-caret-up"></i>
            </a>
            <span class="vote-number">
              123
            </span>
            <a href="#" class="vote-down-btn btn-block">
              <i class="fa fa-caret-down"></i>
            </a>
          </div>
        </div>
        <div class="vote col-xs-6">
          <label>報告</label>
          <div class="vote-button-group text-center">
            <a href="#" class="vote-up-btn btn-block">
              <i class="fa fa-caret-up"></i>
            </a>
            <span class="vote-number">
              123
            </span>
            <a href="#" class="vote-down-btn btn-block">
              <i class="fa fa-caret-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Course information block end. -->

    <!-- Comments block start. -->
    <div class="col-sm-8 col-xs-12">

    </div>
    <!-- Comments block end. -->
  </div>
</div>