<div class="container">
  <div class="row">
    <!-- Course information block start. -->
    <div class="col-sm-4 col-xs-12">
      <h2>物件導向設計</h2>
    </div>
    <!-- Course information block end. -->

    <!-- Comments block start. -->
    <div class="col-sm-8 col-xs-12">

    </div>
    <!-- Comments block end. -->
  </div>
</div>