<div class="navbar-header">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    <span class="sr-only">開啓導航列</span>
    <i class="fa fa-bars fa-fw"></i>
  </button>
  <a href="#" class="navbar-brand">課程評語</a>
</div>
<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
    <li class="active">
      <%= link_to '列表', teachers_path %>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if not session[:user].present? %>
        <a href="/login">
          <i class="fa fa-fw fa-sign-in"></i>
          登入
      <% else %>
        <a href="/logout">
          <i class="fa fa-fw fa-sign-out"></i>
          登出
      <% end %>
      </a>
    </li>
  </ul>
</nav>